*{
    font-size: 10px;
    font-weight: bold;
}

table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 800px;
}

thead{
    color: white;
    background-color: #E89996;
    height:35px;
}

tbody{
    text-align: center;
}

img{
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.row-1,.row-3,.row-5{
    background-color: #F6DBBD;
}

.email{
    color: blue;
}